<main>
  <h1 class="app-title">COUNTRY QUIZ</h1>

  <img
    src="/assets/img/header_img.svg"
    alt="Man stands besides a globe"
    class="header-img"
  />

  <div class="quiz-box">
    <h2 class="quiz-box__question-header">Question</h2>

    <answer-btn
      [type]="type"
      [onClick]="onClick"
      [orderIndex]="btnIndex"
      [text]="btnText"
    />
    <answer-btn
      [type]="type"
      [onClick]="onClick"
      [orderIndex]="btnIndex"
      [text]="btnText"
    />
    <answer-btn
      [type]="type"
      [onClick]="onClick"
      [orderIndex]="btnIndex"
      [text]="btnText"
    />
    <answer-btn
      [type]="type"
      [onClick]="onClick"
      [orderIndex]="btnIndex"
      [text]="btnText"
    />
  </div>
</main>
