<img
  *ngIf="countriesLoaded"
  src="/assets/img/header_img.svg"
  alt="Man stands besides a globe"
  class="header-img"
/>

<div *ngIf="countriesLoaded; else resultsScreen" class="quiz-box">
  <h2 *ngIf="questionType === 0" class="quiz-box__question-header">
    {{ selectedCountries[correctAnswer].capital }} is the capital of.
  </h2>
  <h2 *ngIf="questionType === 1" class="quiz-box__question-header">
    <img
      class="quiz-box__question-header__flag"
      src="{{ selectedCountries[correctAnswer].flags.png }}"
      alt="Mystery country flag"
    />
    Which country does this flag belong to?
  </h2>

  <answer-btn
    *ngFor="let country of selectedCountries; index as i"
    [type]="answerBtnTypes[i]"
    (click)="answerBtnClick(i)"
    [orderIndex]="i"
    [text]="country.name.common"
  />

  <div
    *ngIf="this.userSelectedAnswer !== null"
    (click)="nextBtnClick()"
    class="quiz-box__next-btn"
  >
    <button>Next</button>
  </div>
</div>

<ng-template #resultsScreen
  ><div class="quiz-box quiz-box--results">
    <img
      src="/assets/img/undraw_winners.svg"
      alt="People celebrate around a trophy"
      class="quiz-box__results-img"
    />

    <p class="quiz-box__results-title">Results</p>
    <p class="quiz-box__results-score">
      You got <span>{{ userTotalCorrectAnswers }}</span> correct answers
    </p>

    <button class="quiz-box__try-again-btn" (click)="tryAgainBtnClick()">
      Try again
    </button>
  </div>
</ng-template>
