.quiz-box {
  width: 464px;
  padding: 68px 32px;
  border-radius: 24px;

  background-color: #fff;
}

.quiz-box__question-header {
  color: #2f527b;
  margin: 0;
}

.quiz-box__question-header__flag {
  height: 54px;
  margin-bottom: 28px;
  display: block;
}

.quiz-box__next-btn {
  margin-top: 24px;
  margin-bottom: -36px;
  text-align: end;

  button {
    border: 0;

    padding-left: 35px;
    padding-right: 35px;
    background: #f9a826;
    box-shadow: 0px 2px 4px 0px rgba(252, 168, 47, 0.4);

    color: #fff;
    font-size: 18px;
    font-weight: 700;

    cursor: pointer;
  }
}
