.quiz-box {
  width: 464px;
  padding: 68px 32px;
  border-radius: 24px;

  background-color: #fff;
}

.quiz-box__question-header {
  color: #2f527b;
  margin: 0;
}

.quiz-box__question-header__flag {
  height: 54px;
  margin-bottom: 28px;
  display: block;
}
