body {
  height: 100vh;
  margin: 0;

  background-image: url("/assets/img/background.png");
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Popping", sans-serif;
}

p,
button {
  font-size: 18px;
}

button {
  border-radius: 12px;
  padding: 15px;
  cursor: pointer;
}
